body {
	background-color: #545454;
	overflow:hidden;
	-webkit-perspective: 700px;

}

.container {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	transition: -webkit-transform 2s;
	/*-webkit-perspective: 500;
  -moz-perspective: 500;*/

}

.container:hover {
	-webkit-transform:  rotateX(45deg) rotateZ(60deg) scale(4.5);
} /* rotateZ(60deg) rotateY(-50deg)  scale(2.5,2.5)*/
.row {
	box-sizing: border-box;
	width: 100%;
	height:5%; /* changes with n*/
	padding: 0.25% 0.25% 0.25% 0.25%;
}

.square {
	box-sizing: border-box;
	margin: 0% 0.25% 0% 0.25%;
	width: 2%; /* changes with n */
	height:100%;
	float:left;
	transition: -webkit-transform 0.5s;
}

.square:hover {
	-webkit-transform: translateZ(100px) scale(2,2);

}